USE [shopal]
GO
/****** Object:  Schema [auth]    Script Date: 6/3/2023 1:01:43 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [config]    Script Date: 6/3/2023 1:01:43 PM ******/
CREATE SCHEMA [config]
GO
/****** Object:  Schema [notification]    Script Date: 6/3/2023 1:01:43 PM ******/
CREATE SCHEMA [notification]
GO
/****** Object:  Schema [shop]    Script Date: 6/3/2023 1:01:43 PM ******/
CREATE SCHEMA [shop]
GO
/****** Object:  Schema [staging]    Script Date: 6/3/2023 1:01:43 PM ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [auth].[USER_ACCOUNT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[USER_ACCOUNT](
	[USER_ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](255) NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[ROLE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USER_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[USER_ACCOUNT_TOKEN]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[USER_ACCOUNT_TOKEN](
	[USER_ACCOUNT_TOKEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[TOKEN] [varchar](255) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[REVOKED] [bit] NOT NULL,
	[EXPIRED] [bit] NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT_TOKEN] PRIMARY KEY CLUSTERED 
(
	[USER_ACCOUNT_TOKEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ACCOUNTING]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ACCOUNTING](
	[ACCOUNTING_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[TOTAL_INCOME] [decimal](17, 2) NOT NULL,
	[TOTAL_COMMISSION] [decimal](17, 2) NOT NULL,
	[PAYMENT_STATUS] [varchar](20) NOT NULL,
	[PAYMENT_DATE] [date] NULL,
	[PAYMENT_METHOD] [varchar](20) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[COOPERATION_CONTRACT_ID] [int] NOT NULL,
	[PAYMENT_DETAIL] [varchar](4000) NULL,
 CONSTRAINT [PK_ACCOUNTTING] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ANNOUNCEMENT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ANNOUNCEMENT](
	[ANNOUNCEMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEMAND_ANNOUNCEMENT_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[ENTERPRISE_ID] [int] NULL,
	[INTERFACE] [varchar](100) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[DATE] [datetime2](7) NOT NULL,
	[MESSAGE_ANNOUNCEMENT] [nvarchar](4000) NOT NULL,
	[HASH] [varchar](255) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_ANNOUNCEMENT] PRIMARY KEY CLUSTERED 
(
	[ANNOUNCEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[CATALOG]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[CATALOG](
	[CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATALOG_NAME] [nvarchar](255) NOT NULL,
	[LOGO_URL] [varchar](255) NULL,
	[LEVEL] [int] NOT NULL,
	[PARENT_CATALOG_ID] [int] NULL,
	[CATALOG_STATUS] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_CATALOG] PRIMARY KEY CLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[COOPERATION_CONTRACT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[COOPERATION_CONTRACT](
	[COOPERATION_CONTRACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[COMMISSION_RATE] [decimal](17, 2) NOT NULL,
	[CASH_PER_POINT] [decimal](17, 2) NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[CONTRACT_STATUS] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_COOPERATION_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[COOPERATION_CONTRACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[CUSTOMER]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[CONTACT_EMAIL] [varchar](50) NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[PHONE_NUMBER] [varchar](12) NULL,
	[GENDER] [varchar](10) NULL,
	[BIRTHDATE] [date] NULL,
	[AVATAR_URL] [varchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[NICK_NAME] [varchar](255) NULL,
	[JOIN_DATE] [date] NOT NULL,
	[TOTAL_BUY] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[CUSTOMER_POINT_MOVEMENT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[CUSTOMER_POINT_MOVEMENT](
	[CUSTOMER_POINT_MOVEMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PURCHASE_ORDER_ID] [int] NULL,
	[DATE_MOVEMENT] [datetime2](7) NOT NULL,
	[TYPE_MOVEMENT] [varchar](20) NULL,
	[VALUE] [decimal](17, 2) NULL,
	[PAY] [decimal](17, 2) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_POINT_MOVEMENT] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_POINT_MOVEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ENTERPRISE]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ENTERPRISE](
	[ENTERPRISE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[ENTERPRISE_NAME] [nvarchar](50) NOT NULL,
	[PHONE_NUMBER] [varchar](12) NOT NULL,
	[ADRESS] [nvarchar](255) NOT NULL,
	[WEBSITE_URL] [varchar](255) NOT NULL,
	[LOGO_URL] [varchar](50) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[JOIN_DATE] [date] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[CONTACT_EMAIL] [varchar](50) NOT NULL,
	[TAX_ID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ENTERPRISE] PRIMARY KEY CLUSTERED 
(
	[ENTERPRISE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[MEMBERSHIP]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[MEMBERSHIP](
	[MEMBERSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[REGISTER_EMAIL] [varchar](50) NULL,
	[REGISTER_PHONE_NUMBER] [varchar](50) NULL,
	[AVAILABLE_POINT] [decimal](17, 2) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_BUY] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_MEMBERSHIP] PRIMARY KEY CLUSTERED 
(
	[MEMBERSHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NULL,
	[PRODUCT_NAME] [nvarchar](255) NOT NULL,
	[QUANTITY_IN_STOCK] [int] NOT NULL,
	[PRODUCT_DESCRIPTION_URL] [varchar](max) NULL,
	[PRODUCT_STATUS] [varchar](20) NOT NULL,
	[RATING] [decimal](17, 2) NOT NULL,
	[INPUT_DATE] [date] NOT NULL,
	[EXPIRATION_DATE] [date] NOT NULL,
	[INITIAL_CASH] [decimal](17, 2) NOT NULL,
	[TOTAL_SOLD] [int] NOT NULL,
	[PRODUCT_TYPE] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_REVIEW] [int] NOT NULL,
	[PRODUCT_DETAILS] [nvarchar](4000) NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[GALLERY_URLS] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_CART]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_CART](
	[PRODUCT_CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_POINT_ID] [int] NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CART] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_CATALOG]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_CATALOG](
	[PRODUCT_CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[CATALOG_ID] [int] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATALOG] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_GALLERY]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_GALLERY](
	[PRODUCT_GALLERY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[FILE_URL] [varchar](255) NOT NULL,
	[IS_MAIN_FILE] [bit] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_GALLERY] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_GALLERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_POINT]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_POINT](
	[PRODUCT_POINT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[POINT_EXCHANGE] [decimal](17, 2) NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_POINT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_POINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_REVIEW]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_REVIEW](
	[PRODUCT_REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[RATING] [decimal](17, 2) NULL,
	[CONTENT] [nvarchar](4000) NOT NULL,
	[GALLERY_URLS] [varchar](4000) NULL,
	[AMOUNT_LIKE] [int] NULL,
	[PARENT_REVIEW_ID] [int] NULL,
	[REVIEW_TYPE] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[PURCHASE_ORDER_DETAIL_ID] [int] NULL,
	[REVIEW_DATE] [datetime2](7) NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_REVIEW] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PURCHASE_ORDER]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PURCHASE_ORDER](
	[PURCHASE_ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[ORDER_TOTAL_POINT_EXHANGE] [decimal](17, 2) NOT NULL,
	[ORDER_STATUS] [varchar](20) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[DELIVERY_STATUS] [varchar](20) NOT NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ORDER_TOTAL_CASH] [decimal](17, 2) NOT NULL,
	[CANCEL_DATE] [datetime2](7) NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[CANCEL_CODE] [varchar](20) NULL,
 CONSTRAINT [PK_PURCHASE_ORDER] PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PURCHASE_ORDER_DETAIL]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PURCHASE_ORDER_DETAIL](
	[PURCHASE_ORDER_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_POINT_ID] [int] NOT NULL,
	[POINT_EXCHANGE] [decimal](17, 2) NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[TOTAL_POINT_EXCHANGE] [decimal](17, 2) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_CASH] [decimal](17, 2) NOT NULL,
	[CONTACT_EMAIL] [varchar](255) NULL,
	[ID_ORIGIN] [int] NOT NULL,
 CONSTRAINT [PK_PURCHASE_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ORDER_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[STAG_CUSTOMER]    Script Date: 6/3/2023 1:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[STAG_CUSTOMER](
	[STAG_CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CHECKING] [int] NOT NULL,
	[FULL_NAME] [varchar](255) NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[REGISTER_EMAIL] [varchar](255) NULL,
	[INITIAL_POINT] [decimal](17, 2) NOT NULL,
	[REGISTER_PHONE_NUMBER] [varchar](255) NULL,
	[IMPORT_DATE] [datetime] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_STAG_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[STAG_CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [auth].[USER_ACCOUNT] ON 

INSERT [auth].[USER_ACCOUNT] ([USER_ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE]) VALUES (1001, N'customer1001', N'customer1001@gmail.com', N'$2a$10$v1Y4Bu6Nqa.2q22sFMPnu.d3Mp5gtXX9CpMq33raTZRtUi1xiFbNa', N'CUSTOMER')
INSERT [auth].[USER_ACCOUNT] ([USER_ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE]) VALUES (1002, N'customer1002', N'customer1002@gmail.com', N'$2a$10$v1Y4Bu6Nqa.2q22sFMPnu.d3Mp5gtXX9CpMq33raTZRtUi1xiFbNa', N'CUSTOMER')
INSERT [auth].[USER_ACCOUNT] ([USER_ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE]) VALUES (1003, N'customer1003', N'customer1003@gmail.com', N'$2a$10$v1Y4Bu6Nqa.2q22sFMPnu.d3Mp5gtXX9CpMq33raTZRtUi1xiFbNa', N'CUSTOMER')
SET IDENTITY_INSERT [auth].[USER_ACCOUNT] OFF
GO
SET IDENTITY_INSERT [auth].[USER_ACCOUNT_TOKEN] ON 

INSERT [auth].[USER_ACCOUNT_TOKEN] ([USER_ACCOUNT_TOKEN_ID], [USER_ACCOUNT_ID], [TOKEN], [TYPE], [REVOKED], [EXPIRED]) VALUES (1005, 3001, N'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbjFAZ21haWwuY29tIiwiaWF0IjoxNjgzNTE3ODkwLCJleHAiOjE2ODQ5NTc4OTB9.DvVT_O2tYKkToDSBGPhXTTi5MPLBd2MKf7P60fAnSQg', N'BEARER', 1, 1)
INSERT [auth].[USER_ACCOUNT_TOKEN] ([USER_ACCOUNT_TOKEN_ID], [USER_ACCOUNT_ID], [TOKEN], [TYPE], [REVOKED], [EXPIRED]) VALUES (1006, 3001, N'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbjFAZ21haWwuY29tIiwiaWF0IjoxNjgzNTE4MTAyLCJleHAiOjE2ODQ5NTgxMDJ9.Oc8tDj_I-cU-NCK9EcsYoc8tm3jIOaSMfh6xTVoOBJU', N'BEARER', 1, 1)
INSERT [auth].[USER_ACCOUNT_TOKEN] ([USER_ACCOUNT_TOKEN_ID], [USER_ACCOUNT_ID], [TOKEN], [TYPE], [REVOKED], [EXPIRED]) VALUES (2003, 3001, N'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbjFAZ21haWwuY29tIiwiaWF0IjoxNjgzNTI1NTUzLCJleHAiOjE2ODQ5NjU1NTN9.Kh6GUQkw_hCxvHBlUachl_HB9FrtDNVzlpHqr-77qJg', N'BEARER', 1, 1)
GO
SET IDENTITY_INSERT [auth].[USER_ACCOUNT_TOKEN] OFF
GO
SET IDENTITY_INSERT [shop].[ACCOUNTING] ON 

SET IDENTITY_INSERT [shop].[ACCOUNTING] OFF
GO
SET IDENTITY_INSERT [shop].[ANNOUNCEMENT] ON 

SET IDENTITY_INSERT [shop].[ANNOUNCEMENT] OFF
GO
SET IDENTITY_INSERT [shop].[CATALOG] ON 

INSERT [shop].[CATALOG] ([CATALOG_ID], [CATALOG_NAME], [LOGO_URL], [LEVEL], [PARENT_CATALOG_ID], [CATALOG_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (1, N'Thiết Bị Số - Phụ Kiện Số', N'1.webp', 1, NULL, N'ACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 1)
INSERT [shop].[CATALOG] ([CATALOG_ID], [CATALOG_NAME], [LOGO_URL], [LEVEL], [PARENT_CATALOG_ID], [CATALOG_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (2, N'Voucher - Dịch vụ', N'2.webp', 1, NULL, N'ACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 2)
INSERT [shop].[CATALOG] ([CATALOG_ID], [CATALOG_NAME], [LOGO_URL], [LEVEL], [PARENT_CATALOG_ID], [CATALOG_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (3, N'Phụ Kiện Điện Thoại và Máy Tính Bảng', N'3.png', 2, 1, N'ACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [shop].[CATALOG] OFF
GO
SET IDENTITY_INSERT [shop].[COOPERATION_CONTRACT] ON 

INSERT [shop].[COOPERATION_CONTRACT] ([COOPERATION_CONTRACT_ID], [ENTERPRISE_ID], [START_DATE], [END_DATE], [COMMISSION_RATE], [CASH_PER_POINT], [ID_ORIGIN], [CONTRACT_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (1, 2001, CAST(N'2023-03-01' AS Date), CAST(N'2023-03-31' AS Date), CAST(0.05 AS Decimal(17, 2)), CAST(1500.00 AS Decimal(17, 2)), 1, N'INACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), 0)
INSERT [shop].[COOPERATION_CONTRACT] ([COOPERATION_CONTRACT_ID], [ENTERPRISE_ID], [START_DATE], [END_DATE], [COMMISSION_RATE], [CASH_PER_POINT], [ID_ORIGIN], [CONTRACT_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (2, 2001, CAST(N'2023-04-01' AS Date), CAST(N'2023-04-30' AS Date), CAST(0.06 AS Decimal(17, 2)), CAST(1600.00 AS Decimal(17, 2)), 2, N'INACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), 0)
INSERT [shop].[COOPERATION_CONTRACT] ([COOPERATION_CONTRACT_ID], [ENTERPRISE_ID], [START_DATE], [END_DATE], [COMMISSION_RATE], [CASH_PER_POINT], [ID_ORIGIN], [CONTRACT_STATUS], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (3, 2001, CAST(N'2023-05-01' AS Date), CAST(N'2023-05-31' AS Date), CAST(0.07 AS Decimal(17, 2)), CAST(1700.00 AS Decimal(17, 2)), 3, N'INACTIVE', N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), 0)
SET IDENTITY_INSERT [shop].[COOPERATION_CONTRACT] OFF
GO
SET IDENTITY_INSERT [shop].[CUSTOMER] ON 

SET IDENTITY_INSERT [shop].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [shop].[CUSTOMER_POINT_MOVEMENT] ON 

INSERT [shop].[CUSTOMER_POINT_MOVEMENT] ([CUSTOMER_POINT_MOVEMENT_ID], [CUSTOMER_ID], [PURCHASE_ORDER_ID], [DATE_MOVEMENT], [TYPE_MOVEMENT], [VALUE], [PAY], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (1, 1001, NULL, CAST(N'2023-05-28T14:57:53.7260886' AS DateTime2), N'SYNC_SOURCE', CAST(200.00 AS Decimal(17, 2)), CAST(500.00 AS Decimal(17, 2)), N'admin1@gmail.com', N'admin1@gmail.com', CAST(N'2023-05-28T14:57:53.7421013' AS DateTime2), CAST(N'2023-05-28T14:57:53.7493589' AS DateTime2), 1, 1)
INSERT [shop].[CUSTOMER_POINT_MOVEMENT] ([CUSTOMER_POINT_MOVEMENT_ID], [CUSTOMER_ID], [PURCHASE_ORDER_ID], [DATE_MOVEMENT], [TYPE_MOVEMENT], [VALUE], [PAY], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (2, 1001, 1010, CAST(N'2023-05-28T21:20:04.0432532' AS DateTime2), N'PAY_ORDER', CAST(100.00 AS Decimal(17, 2)), CAST(0.00 AS Decimal(17, 2)), N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-05-28T21:20:04.1162472' AS DateTime2), CAST(N'2023-05-28T21:20:04.1262870' AS DateTime2), 1, 2)
INSERT [shop].[CUSTOMER_POINT_MOVEMENT] ([CUSTOMER_POINT_MOVEMENT_ID], [CUSTOMER_ID], [PURCHASE_ORDER_ID], [DATE_MOVEMENT], [TYPE_MOVEMENT], [VALUE], [PAY], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (3, 1001, 1011, CAST(N'2023-05-28T21:20:04.0432532' AS DateTime2), N'PAY_ORDER', CAST(880.00 AS Decimal(17, 2)), CAST(120.00 AS Decimal(17, 2)), N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-05-28T21:20:04.1210881' AS DateTime2), CAST(N'2023-05-28T21:20:04.1262870' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [shop].[CUSTOMER_POINT_MOVEMENT] OFF
GO
SET IDENTITY_INSERT [shop].[ENTERPRISE] ON 

SET IDENTITY_INSERT [shop].[ENTERPRISE] OFF
GO
SET IDENTITY_INSERT [shop].[MEMBERSHIP] ON 

INSERT [shop].[MEMBERSHIP] ([MEMBERSHIP_ID], [CUSTOMER_ID], [ENTERPRISE_ID], [REGISTER_EMAIL], [REGISTER_PHONE_NUMBER], [AVAILABLE_POINT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_BUY], [ID_ORIGIN]) VALUES (1, 1001, 2001, N'customer1001@gmail.com', N'0359561001', CAST(35.00 AS Decimal(17, 2)), N'admin_1', N'customer1001@gmail.com', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-06-02T20:30:26.7266681' AS DateTime2), 10, 1, 1)
INSERT [shop].[MEMBERSHIP] ([MEMBERSHIP_ID], [CUSTOMER_ID], [ENTERPRISE_ID], [REGISTER_EMAIL], [REGISTER_PHONE_NUMBER], [AVAILABLE_POINT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_BUY], [ID_ORIGIN]) VALUES (2, 1001, 2002, N'customer1001@gmail.com', N'0359561001', CAST(120.00 AS Decimal(17, 2)), N'admin_1', N'customer1001@gmail.com', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-05-28T21:20:04.1257874' AS DateTime2), 3, 1, 2)
INSERT [shop].[MEMBERSHIP] ([MEMBERSHIP_ID], [CUSTOMER_ID], [ENTERPRISE_ID], [REGISTER_EMAIL], [REGISTER_PHONE_NUMBER], [AVAILABLE_POINT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_BUY], [ID_ORIGIN]) VALUES (3, 1001, 2003, N'customer1001@gmail.com', N'0359561001', CAST(1900.00 AS Decimal(17, 2)), N'admin_1', N'customer1001@gmail.com', CAST(N'2023-05-06T19:40:40.0800000' AS DateTime2), CAST(N'2023-06-03T09:27:12.4337461' AS DateTime2), 5, 1, 3)
GO
SET IDENTITY_INSERT [shop].[MEMBERSHIP] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT] ON 

SET IDENTITY_INSERT [shop].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT_CART] ON 

INSERT [shop].[PRODUCT_CART] ([PRODUCT_CART_ID], [CUSTOMER_ID], [PRODUCT_POINT_ID], [AMOUNT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (4011, 1010, 9, 1, N'customer1010@gmail.com', N'customer1010@gmail.com', CAST(N'2023-06-02T13:01:53.4446009' AS DateTime2), CAST(N'2023-06-02T13:01:53.4465819' AS DateTime2), 1, 4011)
INSERT [shop].[PRODUCT_CART] ([PRODUCT_CART_ID], [CUSTOMER_ID], [PRODUCT_POINT_ID], [AMOUNT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (4018, 1001, 2, 3, N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-06-02T18:05:05.4026507' AS DateTime2), CAST(N'2023-06-02T18:55:33.8028253' AS DateTime2), 3, 4018)
INSERT [shop].[PRODUCT_CART] ([PRODUCT_CART_ID], [CUSTOMER_ID], [PRODUCT_POINT_ID], [AMOUNT], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (4023, 1001, 4021, 1, N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-06-03T09:16:45.1843073' AS DateTime2), CAST(N'2023-06-03T09:24:38.0050808' AS DateTime2), 3, 4023)
SET IDENTITY_INSERT [shop].[PRODUCT_CART] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT_CATALOG] ON 

INSERT [shop].[PRODUCT_CATALOG] ([PRODUCT_CATALOG_ID], [PRODUCT_ID], [CATALOG_ID], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (1, 1, 3, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 1)
INSERT [shop].[PRODUCT_CATALOG] ([PRODUCT_CATALOG_ID], [PRODUCT_ID], [CATALOG_ID], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (2, 2, 3, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 2)
INSERT [shop].[PRODUCT_CATALOG] ([PRODUCT_CATALOG_ID], [PRODUCT_ID], [CATALOG_ID], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (3, 3, 4, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), CAST(N'2023-05-06T19:40:40.0466667' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [shop].[PRODUCT_CATALOG] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT_GALLERY] ON 

INSERT [shop].[PRODUCT_GALLERY] ([PRODUCT_GALLERY_ID], [PRODUCT_ID], [FILE_URL], [IS_MAIN_FILE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (1, 1, N'1_1.webp', 1, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), 1, 1)
INSERT [shop].[PRODUCT_GALLERY] ([PRODUCT_GALLERY_ID], [PRODUCT_ID], [FILE_URL], [IS_MAIN_FILE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (2, 1, N'1_2.webp', 1, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), 0, 2)
INSERT [shop].[PRODUCT_GALLERY] ([PRODUCT_GALLERY_ID], [PRODUCT_ID], [FILE_URL], [IS_MAIN_FILE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [ID_ORIGIN]) VALUES (3, 1, N'1_3.webp', 1, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), CAST(N'2023-05-06T19:47:42.0133333' AS DateTime2), 0, 3)
GO
SET IDENTITY_INSERT [shop].[PRODUCT_GALLERY] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT_POINT] ON 

INSERT [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID], [ENTERPRISE_ID], [PRODUCT_ID], [POINT_EXCHANGE], [ID_ORIGIN], [ACTIVE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (1, 2001, 1, CAST(100.00 AS Decimal(17, 2)), 1, 0, N'admin_1', N'dummyUser', CAST(N'2023-05-06T19:40:40.0500000' AS DateTime2), CAST(N'2023-06-02T03:41:10.6263993' AS DateTime2), 2)
INSERT [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID], [ENTERPRISE_ID], [PRODUCT_ID], [POINT_EXCHANGE], [ID_ORIGIN], [ACTIVE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (2, 2002, 2, CAST(200.00 AS Decimal(17, 2)), 2, 0, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0500000' AS DateTime2), CAST(N'2023-05-06T19:40:40.0500000' AS DateTime2), 1)
INSERT [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID], [ENTERPRISE_ID], [PRODUCT_ID], [POINT_EXCHANGE], [ID_ORIGIN], [ACTIVE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (3, 2003, 3, CAST(300.00 AS Decimal(17, 2)), 3, 1, N'admin_1', N'admin_1', CAST(N'2023-05-06T19:40:40.0500000' AS DateTime2), CAST(N'2023-05-06T19:40:40.0500000' AS DateTime2), 1)
GO
SET IDENTITY_INSERT [shop].[PRODUCT_POINT] OFF
GO
SET IDENTITY_INSERT [shop].[PRODUCT_REVIEW] ON 

SET IDENTITY_INSERT [shop].[PRODUCT_REVIEW] OFF
GO
SET IDENTITY_INSERT [shop].[PURCHASE_ORDER] ON 

SET IDENTITY_INSERT [shop].[PURCHASE_ORDER] OFF
GO
SET IDENTITY_INSERT [shop].[PURCHASE_ORDER_DETAIL] ON 

INSERT [shop].[PURCHASE_ORDER_DETAIL] ([PURCHASE_ORDER_DETAIL_ID], [PURCHASE_ORDER_ID], [PRODUCT_ID], [PRODUCT_POINT_ID], [POINT_EXCHANGE], [AMOUNT], [TOTAL_POINT_EXCHANGE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_CASH], [CONTACT_EMAIL], [ID_ORIGIN]) VALUES (1, 1, 1, 1, CAST(100.00 AS Decimal(17, 2)), 1, CAST(100.00 AS Decimal(17, 2)), N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-05-07T20:56:24.6054242' AS DateTime2), CAST(N'2023-05-07T20:56:24.6054242' AS DateTime2), 0, CAST(50000.00 AS Decimal(17, 2)), NULL, 1)
INSERT [shop].[PURCHASE_ORDER_DETAIL] ([PURCHASE_ORDER_DETAIL_ID], [PURCHASE_ORDER_ID], [PRODUCT_ID], [PRODUCT_POINT_ID], [POINT_EXCHANGE], [AMOUNT], [TOTAL_POINT_EXCHANGE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_CASH], [CONTACT_EMAIL], [ID_ORIGIN]) VALUES (2, 2, 2, 2, CAST(200.00 AS Decimal(17, 2)), 2, CAST(400.00 AS Decimal(17, 2)), N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-05-07T20:56:56.0487964' AS DateTime2), CAST(N'2023-05-07T20:56:56.0487964' AS DateTime2), 0, CAST(60000.00 AS Decimal(17, 2)), NULL, 2)
INSERT [shop].[PURCHASE_ORDER_DETAIL] ([PURCHASE_ORDER_DETAIL_ID], [PURCHASE_ORDER_ID], [PRODUCT_ID], [PRODUCT_POINT_ID], [POINT_EXCHANGE], [AMOUNT], [TOTAL_POINT_EXCHANGE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION], [TOTAL_CASH], [CONTACT_EMAIL], [ID_ORIGIN]) VALUES (3, 3, 3, 3, CAST(300.00 AS Decimal(17, 2)), 1, CAST(300.00 AS Decimal(17, 2)), N'customer1001@gmail.com', N'customer1001@gmail.com', CAST(N'2023-05-07T20:56:56.0523094' AS DateTime2), CAST(N'2023-05-07T20:56:56.0523094' AS DateTime2), 0, CAST(70000.00 AS Decimal(17, 2)), NULL, 3)
SET IDENTITY_INSERT [shop].[PURCHASE_ORDER_DETAIL] OFF
GO
SET IDENTITY_INSERT [staging].[STAG_CUSTOMER] ON 

INSERT [staging].[STAG_CUSTOMER] ([STAG_CUSTOMER_ID], [ID_CHECKING], [FULL_NAME], [ENTERPRISE_ID], [REGISTER_EMAIL], [INITIAL_POINT], [REGISTER_PHONE_NUMBER], [IMPORT_DATE], [USR_LOG_I], [USR_LOG_U], [DATE_LOG_I], [DATE_LOG_U], [VERSION]) VALUES (1010, 200, N'Nguy?n Van Linh', 2001, N'customer1001@gmail.com', CAST(1500.00 AS Decimal(17, 2)), N'0359561001', CAST(N'2023-06-02T21:23:24.770' AS DateTime), N'ciclek2001@gmail.com', N'ciclek2001@gmail.com', CAST(N'2023-06-02T21:22:23.9113375' AS DateTime2), CAST(N'2023-06-02T21:23:24.7687410' AS DateTime2), 1)
SET IDENTITY_INSERT [staging].[STAG_CUSTOMER] OFF
GO
ALTER TABLE [auth].[USER_ACCOUNT_TOKEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_TOKEN_USER_ACCOUNT] FOREIGN KEY([USER_ACCOUNT_ID])
REFERENCES [auth].[USER_ACCOUNT] ([USER_ACCOUNT_ID])
GO
ALTER TABLE [auth].[USER_ACCOUNT_TOKEN] CHECK CONSTRAINT [FK_USER_ACCOUNT_TOKEN_USER_ACCOUNT]
GO
ALTER TABLE [shop].[ACCOUNTING]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTING_COOPERATION_CONTRACT] FOREIGN KEY([COOPERATION_CONTRACT_ID])
REFERENCES [shop].[COOPERATION_CONTRACT] ([COOPERATION_CONTRACT_ID])
GO
ALTER TABLE [shop].[ACCOUNTING] CHECK CONSTRAINT [FK_ACCOUNTING_COOPERATION_CONTRACT]
GO
ALTER TABLE [shop].[ACCOUNTING]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTING_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[ACCOUNTING] CHECK CONSTRAINT [FK_ACCOUNTING_ENTERPRISE]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_DEMAND_ANNOUNCEMENT] FOREIGN KEY([DEMAND_ANNOUNCEMENT_ID])
REFERENCES [shop].[ANNOUNCEMENT] ([ANNOUNCEMENT_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_DEMAND_ANNOUNCEMENT]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_ENTERPRISE]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_PRODUCT]
GO
ALTER TABLE [shop].[CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_CATALOG_PARENT_CATALOG_ID] FOREIGN KEY([PARENT_CATALOG_ID])
REFERENCES [shop].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [shop].[CATALOG] CHECK CONSTRAINT [FK_CATALOG_PARENT_CATALOG_ID]
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_COOPERATION_CONTRACT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT] CHECK CONSTRAINT [FK_COOPERATION_CONTRACT_ENTERPRISE]
GO
ALTER TABLE [shop].[CUSTOMER_POINT_MOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_POINT_MOVEMENT_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[CUSTOMER_POINT_MOVEMENT] CHECK CONSTRAINT [FK_CUSTOMER_POINT_MOVEMENT_CUSTOMER]
GO
ALTER TABLE [shop].[CUSTOMER_POINT_MOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_POINT_MOVEMENT_PURCHASE_ORDER] FOREIGN KEY([PURCHASE_ORDER_ID])
REFERENCES [shop].[PURCHASE_ORDER] ([PURCHASE_ORDER_ID])
GO
ALTER TABLE [shop].[CUSTOMER_POINT_MOVEMENT] CHECK CONSTRAINT [FK_CUSTOMER_POINT_MOVEMENT_PURCHASE_ORDER]
GO
ALTER TABLE [shop].[MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[MEMBERSHIP] CHECK CONSTRAINT [FK_MEMBERSHIP_CUSTOMER]
GO
ALTER TABLE [shop].[MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[MEMBERSHIP] CHECK CONSTRAINT [FK_MEMBERSHIP_ENTERPRISE]
GO
ALTER TABLE [shop].[PRODUCT_CART]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CART_CUSTOMER_ID] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PRODUCT_CART] CHECK CONSTRAINT [FK_PRODUCT_CART_CUSTOMER_ID]
GO
ALTER TABLE [shop].[PRODUCT_CART]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CART_PRODUCT_POINT] FOREIGN KEY([PRODUCT_POINT_ID])
REFERENCES [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID])
GO
ALTER TABLE [shop].[PRODUCT_CART] CHECK CONSTRAINT [FK_PRODUCT_CART_PRODUCT_POINT]
GO
ALTER TABLE [shop].[PRODUCT_CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATALOG_CATALOG] FOREIGN KEY([CATALOG_ID])
REFERENCES [shop].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [shop].[PRODUCT_CATALOG] CHECK CONSTRAINT [FK_PRODUCT_CATALOG_CATALOG]
GO
ALTER TABLE [shop].[PRODUCT_CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATALOG_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_CATALOG] CHECK CONSTRAINT [FK_PRODUCT_CATALOG_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_GALLERY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_GALLERY_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_GALLERY] CHECK CONSTRAINT [FK_PRODUCT_GALLERY_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_POINT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_POINT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[PRODUCT_POINT] CHECK CONSTRAINT [FK_PRODUCT_POINT_ENTERPRISE]
GO
ALTER TABLE [shop].[PRODUCT_POINT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_POINT_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_POINT] CHECK CONSTRAINT [FK_PRODUCT_POINT_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_CUSTOMER]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PARENT_REVIEW] FOREIGN KEY([PARENT_REVIEW_ID])
REFERENCES [shop].[PRODUCT_REVIEW] ([PRODUCT_REVIEW_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PARENT_REVIEW]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PURCHASE_ORDER_DETAIL] FOREIGN KEY([PURCHASE_ORDER_DETAIL_ID])
REFERENCES [shop].[PURCHASE_ORDER_DETAIL] ([PURCHASE_ORDER_DETAIL_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PURCHASE_ORDER_DETAIL]
GO
ALTER TABLE [shop].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PURCHASE_ORDER_CUSTOMER]
GO
ALTER TABLE [shop].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PURCHASE_ORDER_ENTERPRISE]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT_POINT] FOREIGN KEY([PRODUCT_POINT_ID])
REFERENCES [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT_POINT]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PURCHASE_ORDER] FOREIGN KEY([PURCHASE_ORDER_ID])
REFERENCES [shop].[PURCHASE_ORDER] ([PURCHASE_ORDER_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PURCHASE_ORDER]
GO
