USE [shopal]
GO
/****** Object:  Schema [auth]    Script Date: 5/17/2023 7:38:24 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [shop]    Script Date: 5/17/2023 7:38:24 PM ******/
CREATE SCHEMA [shop]
GO
/****** Object:  Schema [staging]    Script Date: 5/17/2023 7:38:24 PM ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [auth].[USER_ACCOUNT]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[USER_ACCOUNT](
	[USER_ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](255) NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[ROLE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USER_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[USER_ACCOUNT_TOKEN]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[USER_ACCOUNT_TOKEN](
	[USER_ACCOUNT_TOKEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[TOKEN] [varchar](255) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[REVOKED] [bit] NOT NULL,
	[EXPIRED] [bit] NOT NULL,
 CONSTRAINT [PK_USER_ACCOUNT_TOKEN] PRIMARY KEY CLUSTERED 
(
	[USER_ACCOUNT_TOKEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ACCOUNTING]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ACCOUNTING](
	[ACCOUNTING_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[TOTAL_INCOME] [decimal](17, 2) NOT NULL,
	[TOTAL_COMMISSION] [decimal](17, 2) NOT NULL,
	[PAYMENT_STATUS] [varchar](20) NOT NULL,
	[PAYMENT_DATE] [date] NULL,
	[PAYMENT_METHOD] [varchar](20) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_ACCOUNTTING] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ANNOUNCEMENT]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ANNOUNCEMENT](
	[ANNOUNCEMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEMAND_ANNOUNCEMENT_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[ENTERPRISE_ID] [int] NULL,
	[INTERFACE] [varchar](20) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[DATE] [datetime2](7) NOT NULL,
	[MESSAGE_ANNOUNCEMENT] [varchar](4000) NOT NULL,
	[HASH] [varchar](255) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_ANNOUNCEMENT] PRIMARY KEY CLUSTERED 
(
	[ANNOUNCEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[CATALOG]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[CATALOG](
	[CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATALOG_NAME] [nvarchar](255) NOT NULL,
	[LOGO_URL] [varchar](255) NULL,
	[LEVEL] [int] NOT NULL,
	[PARENT_CATALOG_ID] [int] NULL,
	[CATALOG_STATUS] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_CATALOG] PRIMARY KEY CLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[COOPERATION_CONTRACT]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[COOPERATION_CONTRACT](
	[COOPERATION_CONTRACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[ACCOUNTING_ID] [int] NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[COMMISSION_RATE] [decimal](17, 2) NOT NULL,
	[CASH_PER_POINT] [decimal](17, 2) NOT NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[UPDATE_DESCRIPTION] [nvarchar](4000) NULL,
	[CONTRACT_STATUS] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_COOPERATION_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[COOPERATION_CONTRACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[CUSTOMER]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[CONTACT_EMAIL] [varchar](50) NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[PHONE_NUMBER] [varchar](12) NULL,
	[GENDER] [varchar](10) NULL,
	[BIRTHDATE] [date] NULL,
	[AVATAR_URL] [varchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[NICK_NAME] [varchar](255) NULL,
	[JOIN_DATE] [date] NOT NULL,
	[TOTAL_BUY] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[ENTERPRISE]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[ENTERPRISE](
	[ENTERPRISE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACCOUNT_ID] [int] NOT NULL,
	[ENTERPRISE_NAME] [nvarchar](50) NOT NULL,
	[PHONE_NUMBER] [varchar](12) NOT NULL,
	[ADRESS] [nvarchar](255) NOT NULL,
	[WEBSITE_URL] [varchar](255) NOT NULL,
	[LOGO_URL] [varchar](255) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[JOIN_DATE] [date] NOT NULL,
 CONSTRAINT [PK_ENTERPRISE] PRIMARY KEY CLUSTERED 
(
	[ENTERPRISE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[MEMBERSHIP]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[MEMBERSHIP](
	[MEMBERSHIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[REGISTER_EMAIL] [varchar](255) NOT NULL,
	[REGISTER_PHONE_NUMBER] [varchar](255) NOT NULL,
	[AVAILABLE_POINT] [decimal](17, 2) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_BUY] [int] NOT NULL,
 CONSTRAINT [PK_MEMBERSHIP] PRIMARY KEY CLUSTERED 
(
	[MEMBERSHIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NULL,
	[PRODUCT_NAME] [nvarchar](255) NOT NULL,
	[QUANTITY_IN_STOCK] [int] NOT NULL,
	[PRODUCT_DESCRIPTION_URL] [varchar](max) NULL,
	[PRODUCT_STATUS] [varchar](20) NOT NULL,
	[RATING] [decimal](17, 2) NOT NULL,
	[INPUT_DATE] [date] NOT NULL,
	[EXPIRATION_DATE] [date] NOT NULL,
	[INITIAL_CASH] [decimal](17, 2) NOT NULL,
	[TOTAL_SOLD] [int] NOT NULL,
	[PRODUCT_TYPE] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_REVIEW] [int] NOT NULL,
	[PRODUCT_DETAILS] [nvarchar](4000) NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[UPDATE_DESCRIPTION] [nvarchar](4000) NOT NULL,
	[GALLERY_URLS] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_CART]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_CART](
	[PRODUCT_CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_POINT_ID] [int] NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CART] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_CATALOG]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_CATALOG](
	[PRODUCT_CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[CATALOG_ID] [int] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATALOG] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_GALLERY]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_GALLERY](
	[PRODUCT_GALLERY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[FILE_URL] [varchar](255) NOT NULL,
	[IS_MAIN_FILE] [bit] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_GALLERY] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_GALLERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_POINT]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_POINT](
	[PRODUCT_POINT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTERPRISE_ID] [int] NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[POINT_EXCHANGE] [decimal](17, 2) NULL,
	[ID_ORIGIN] [int] NOT NULL,
	[UPDATE_DESCRIPTION] [nvarchar](4000) NULL,
	[ACTIVE] [bit] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_POINT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_POINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PRODUCT_REVIEW]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PRODUCT_REVIEW](
	[PRODUCT_REVIEW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[RATING] [decimal](17, 2) NULL,
	[CONTENT] [nvarchar](4000) NOT NULL,
	[IMAGE_URLS] [varchar](4000) NULL,
	[AMOUNT_LIKE] [int] NULL,
	[PARENT_REVIEW_ID] [int] NULL,
	[REVIEW_TYPE] [varchar](20) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[PURCHASE_ORDER_DETAIL_ID] [int] NULL,
	[REVIEW_DATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PRODUCT_REVIEW] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PURCHASE_ORDER]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PURCHASE_ORDER](
	[PURCHASE_ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[ORDER_TOTAL_POINT_EXHANGE] [decimal](17, 2) NOT NULL,
	[ORDER_STATUS] [varchar](20) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[DELIVERY_STATUS] [varchar](20) NOT NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ORDER_TOTAL_CASH] [decimal](17, 2) NOT NULL,
	[CANCEL_REASON] [nvarchar](4000) NULL,
	[CANCEL_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_PURCHASE_ORDER] PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shop].[PURCHASE_ORDER_DETAIL]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shop].[PURCHASE_ORDER_DETAIL](
	[PURCHASE_ORDER_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_POINT_ID] [int] NOT NULL,
	[POINT_EXCHANGE] [decimal](17, 2) NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[TOTAL_POINT_EXCHANGE] [decimal](17, 2) NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TOTAL_CASH] [decimal](17, 2) NOT NULL,
	[CONTACT_EMAIL] [varchar](255) NULL,
 CONSTRAINT [PK_PURCHASE_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ORDER_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[STAG_CUSTOMER]    Script Date: 5/17/2023 7:38:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[STAG_CUSTOMER](
	[STAG_CUSTOMER_ID] [int] NOT NULL,
	[ENTERPRISE_ID] [int] NOT NULL,
	[REGISTER_EMAIL] [varchar](255) NOT NULL,
	[REGISTER_PHONE_NUMBER] [varchar](255) NOT NULL,
	[IMPORT_DATE] [datetime] NOT NULL,
	[USR_LOG_I] [varchar](128) NOT NULL,
	[USR_LOG_U] [varchar](128) NOT NULL,
	[DATE_LOG_I] [datetime2](7) NOT NULL,
	[DATE_LOG_U] [datetime2](7) NOT NULL,
	[VERSION] [int] NOT NULL,
	[FULL_NAME] [varchar](255) NOT NULL,
	[INITIAL_POINT] [decimal](17, 2) NOT NULL,
 CONSTRAINT [PK_STAG_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[STAG_CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [auth].[USER_ACCOUNT_TOKEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT_TOKEN_USER_ACCOUNT] FOREIGN KEY([USER_ACCOUNT_ID])
REFERENCES [auth].[USER_ACCOUNT] ([USER_ACCOUNT_ID])
GO
ALTER TABLE [auth].[USER_ACCOUNT_TOKEN] CHECK CONSTRAINT [FK_USER_ACCOUNT_TOKEN_USER_ACCOUNT]
GO
ALTER TABLE [shop].[ACCOUNTING]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTING_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[ACCOUNTING] CHECK CONSTRAINT [FK_ACCOUNTING_ENTERPRISE]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_DEMAND_ANNOUNCEMENT] FOREIGN KEY([DEMAND_ANNOUNCEMENT_ID])
REFERENCES [shop].[ANNOUNCEMENT] ([ANNOUNCEMENT_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_DEMAND_ANNOUNCEMENT]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_ENTERPRISE]
GO
ALTER TABLE [shop].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [PK_ANNOUNCEMENT_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[ANNOUNCEMENT] CHECK CONSTRAINT [PK_ANNOUNCEMENT_PRODUCT]
GO
ALTER TABLE [shop].[CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_CATALOG_PARENT_CATALOG_ID] FOREIGN KEY([PARENT_CATALOG_ID])
REFERENCES [shop].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [shop].[CATALOG] CHECK CONSTRAINT [FK_CATALOG_PARENT_CATALOG_ID]
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_COOPERATION_CONTRACT_ACCOUNTING] FOREIGN KEY([ACCOUNTING_ID])
REFERENCES [shop].[ACCOUNTING] ([ACCOUNTING_ID])
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT] CHECK CONSTRAINT [FK_COOPERATION_CONTRACT_ACCOUNTING]
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_COOPERATION_CONTRACT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[COOPERATION_CONTRACT] CHECK CONSTRAINT [FK_COOPERATION_CONTRACT_ENTERPRISE]
GO
ALTER TABLE [shop].[MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[MEMBERSHIP] CHECK CONSTRAINT [FK_MEMBERSHIP_CUSTOMER]
GO
ALTER TABLE [shop].[MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [FK_MEMBERSHIP_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[MEMBERSHIP] CHECK CONSTRAINT [FK_MEMBERSHIP_ENTERPRISE]
GO
ALTER TABLE [shop].[PRODUCT_CART]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CART_CUSTOMER_ID] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PRODUCT_CART] CHECK CONSTRAINT [FK_PRODUCT_CART_CUSTOMER_ID]
GO
ALTER TABLE [shop].[PRODUCT_CART]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CART_PRODUCT_POINT] FOREIGN KEY([PRODUCT_POINT_ID])
REFERENCES [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID])
GO
ALTER TABLE [shop].[PRODUCT_CART] CHECK CONSTRAINT [FK_PRODUCT_CART_PRODUCT_POINT]
GO
ALTER TABLE [shop].[PRODUCT_CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATALOG_CATALOG] FOREIGN KEY([CATALOG_ID])
REFERENCES [shop].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [shop].[PRODUCT_CATALOG] CHECK CONSTRAINT [FK_PRODUCT_CATALOG_CATALOG]
GO
ALTER TABLE [shop].[PRODUCT_CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATALOG_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_CATALOG] CHECK CONSTRAINT [FK_PRODUCT_CATALOG_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_GALLERY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_GALLERY_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_GALLERY] CHECK CONSTRAINT [FK_PRODUCT_GALLERY_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_POINT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_POINT_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[PRODUCT_POINT] CHECK CONSTRAINT [FK_PRODUCT_POINT_ENTERPRISE]
GO
ALTER TABLE [shop].[PRODUCT_POINT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_POINT_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_POINT] CHECK CONSTRAINT [FK_PRODUCT_POINT_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_CUSTOMER]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PARENT_REVIEW] FOREIGN KEY([PARENT_REVIEW_ID])
REFERENCES [shop].[PRODUCT_REVIEW] ([PRODUCT_REVIEW_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PARENT_REVIEW]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PRODUCT]
GO
ALTER TABLE [shop].[PRODUCT_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REVIEW_PURCHASE_ORDER_DETAIL] FOREIGN KEY([PURCHASE_ORDER_DETAIL_ID])
REFERENCES [shop].[PURCHASE_ORDER_DETAIL] ([PURCHASE_ORDER_DETAIL_ID])
GO
ALTER TABLE [shop].[PRODUCT_REVIEW] CHECK CONSTRAINT [FK_PRODUCT_REVIEW_PURCHASE_ORDER_DETAIL]
GO
ALTER TABLE [shop].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [shop].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PURCHASE_ORDER_CUSTOMER]
GO
ALTER TABLE [shop].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_ENTERPRISE] FOREIGN KEY([ENTERPRISE_ID])
REFERENCES [shop].[ENTERPRISE] ([ENTERPRISE_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PURCHASE_ORDER_ENTERPRISE]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [shop].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT_POINT] FOREIGN KEY([PRODUCT_POINT_ID])
REFERENCES [shop].[PRODUCT_POINT] ([PRODUCT_POINT_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PRODUCT_POINT]
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PURCHASE_ORDER] FOREIGN KEY([PURCHASE_ORDER_ID])
REFERENCES [shop].[PURCHASE_ORDER] ([PURCHASE_ORDER_ID])
GO
ALTER TABLE [shop].[PURCHASE_ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_ORDER_DETAIL_PURCHASE_ORDER]
GO
